<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/dashboard/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
       </div>
    </nav>

    <div class="container-fluid">
        {% with current='adapter' %}
        {% include 'inc/nav.html' %}
        {% endwith %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Adapters</h1>
{#          <h2 class="sub-header">Section title</h2>#}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Connections</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for adapter in adapters %}
                <tr>
                  <td>{{ adapter.id }}</td>
                  <td><a href="/admin/hometask_web/adapter/{{ adapter.id }}/change/" target="_blank">{{ adapter.address }}(PC: {{ adapter.pc.title }})</a></td>
                  <td>{% for co in adapter.outgoing_connections %}"<a href="/admin/hometask_web/connection/{{ co.id }}/change/" target="_blank">{{ co.from_adapter.address }}-{{ co.to_adapter.address }}"</a> {% endfor %}</td>
                  <td></td>
                  <td width="100px"><button onclick="if (Math.random() < 0.9) { alert('Ok'); } else { alert('Failed!')}">Check</button></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
